<footer class="site-footer" role="contentinfo" data-section-id="footer" data-section-type="footer-section">
    <div style="background: url({{ 'union-top-dark.svg' | asset_url }}) center;" class="cool-border-top"></div>
    <div class="footer-container">
        <div class="site-footer__content">
            <div class="site-footer__item site-footer__item--one-quarter mobile-subscribe-quarter">
                <div class="site-footer__item-inner site-footer__item-inner--newsletter">
                    <p class="h4 footer-headings"">Get 15% Off</p>
                    <div class="site-footer__newsletter">
                        <form method="post"
                            action="/contact?design_theme_id=96596787333&amp;_sc=1&amp;frame_token=Yd4m0qBvWQwR5hiGCwDusw5wJx-DwtAQ9i6GkmS-5UHw-uF4G0qIy7DKaIy-gkvXc_ejp6772G-Ew5Bj_nW9XM4x4B2yw2yaa_xjI_HnTi-9Jg1lI-w5OGIZK8Fev9h_r8MRZI4U6gmwjZYkmt0J1g%3D%3D#ContactFooter"
                            id="ContactFooter" accept-charset="UTF-8" class="contact-form" novalidate="novalidate">
                            <input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8"
                                value="✓">
                            <input type="hidden" name="contact[tags]" value="newsletter">
                            <div class="input-group ">
                                <input type="email" name="contact[email]" id="ContactFooter-email"
                                    class="input-group__field newsletter__input" value="" placeholder="Email address"
                                    aria-label="Email address" aria-required="true" required="" autocorrect="off"
                                    autocapitalize="off">
                                <span class="input-group__btn">
                                    <button type="submit" class="custom-btn custom-newsletter-submit" name="commit" id="Subscribe">
                                        <span class="newsletter__submit-text--large">Subscribe</span>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="site-footer__item site-footer__item--one-quarter desktop-logo-quarter">
                <div class="site-footer__item-inner site-footer__item-inner--link_list">
                    <img class="footer-logo" src="{{ 'white-logo.svg' | asset_url }}" alt="">
                    <ul class="site-footer__linklist">
                        <li class="site-footer__linklist-item">
                            <span>1992 - 2020</span>
                        </li>
                        <li class="site-footer__linklist-item">
                            <span>PRIVACY - TERMS</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="site-footer__item site-footer__item--one-quarter">
                <div class="site-footer__item-inner site-footer__item-inner--link_list">
                    <p class="h4 footer-headings">Shop</p>
                    <ul class="site-footer__linklist">
                        <li class="site-footer__linklist-item">
                            <a href="/collections/mens">
                                Shop Men's Boots
                            </a>
                        </li>
                        <li class="site-footer__linklist-item">
                            <a href="/collections/womens">
                                Shop Womens's Boots
                            </a>
                        </li>
                        <li class="site-footer__linklist-item">
                            <a href="/collections/accessories">
                                Shop Accessories
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="site-footer__item site-footer__item--one-quarter">
                <div class="site-footer__item-inner site-footer__item-inner--link_list">
                    <p class="h4 footer-headings">JB Dillon
                    </p>
                    <ul class="site-footer__linklist">
                        <li class="site-footer__linklist-item">
                            <a href="/">
                                Our Story
                            </a>
                        </li>
                        <li class="site-footer__linklist-item">
                            <a href="/">
                                Our Boots
                            </a>
                        </li>
                        <li class="site-footer__linklist-item">
                            <a href="/">
                                Our People
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="site-footer__item site-footer__item--one-quarter">
                <div class="site-footer__item-inner site-footer__item-inner--link_list">
                    <p class="h4 footer-headings">Help</p>
                    <ul class="site-footer__linklist
                              ">
                        <li class="site-footer__linklist-item">
                            <a href="/">
                                Returns & Policies
                            </a>
                        </li>
                        <li class="site-footer__linklist-item">
                            <a href="/">
                                Sizing & Fit Guide
                            </a>
                        </li>
                        <li class="site-footer__linklist-item">
                            <a href="/">
                                Product Care
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="site-footer__item site-footer__item--one-quarter desktop-subscribe-quarter">
                <div class="site-footer__item-inner site-footer__item-inner--newsletter">
                    <p class="h4 footer-headings"">Get 15% Off</p>
                    <div class="site-footer__newsletter">
                        <form method="post"
                            action="/contact?design_theme_id=96596787333&amp;_sc=1&amp;frame_token=Yd4m0qBvWQwR5hiGCwDusw5wJx-DwtAQ9i6GkmS-5UHw-uF4G0qIy7DKaIy-gkvXc_ejp6772G-Ew5Bj_nW9XM4x4B2yw2yaa_xjI_HnTi-9Jg1lI-w5OGIZK8Fev9h_r8MRZI4U6gmwjZYkmt0J1g%3D%3D#ContactFooter"
                            id="ContactFooter" accept-charset="UTF-8" class="contact-form" novalidate="novalidate">
                            <input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8"
                                value="✓">
                            <input type="hidden" name="contact[tags]" value="newsletter">
                            <div class="input-group ">
                                <input type="email" name="contact[email]" id="ContactFooter-email"
                                    class="input-group__field newsletter__input" value="" placeholder="Email address"
                                    aria-label="Email address" aria-required="true" required="" autocorrect="off"
                                    autocapitalize="off">
                                <span class="input-group__btn">
                                    <button type="submit" class="custom-btn custom-newsletter-submit" name="commit" id="Subscribe">
                                        <span class="newsletter__submit-text--large">Subscribe</span>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobile-logo-quarter">
            <div class="site-footer__item-inner site-footer__item-inner--link_list">
                <img class="footer-logo" style="width: 185px;" src="{{ 'white-logo.svg' | asset_url }}" alt="">
                <ul class="site-footer__linklist">
                    <li class="site-footer__linklist-item">
                        <span>1992 - 2020</span>
                    </li>
                    <li class="site-footer__linklist-item">
                        <span>PRIVACY - TERMS</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div style="background: url({{ 'union-bottom-dark.svg' | asset_url }}) center;" class="cool-border"></div>
    <div class="footer-social-row">
        <div>
            <a href="/">
                <img src="{{ 'facebook-icon.svg' | asset_url }}" alt="">
            </a>
        </div>
        <div>
            <a href="/">
                <img src="{{ 'instagram-icon.svg' | asset_url }}" alt="">
            </a>
        </div>
        <div>
            <a href="/">
                <img src="{{ 'twitter-icon.svg' | asset_url }}" alt="">
            </a>
        </div>
    </div>
</footer>

{% schema %}
{
"name": "Custom Footer",
"settings": [

]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}