<div class="page-width custom-section">
    <div class="custom-our-story-flex-container">
        <div class="custom-our-story-left-section">
            <div class='youtube_codegena custom-our-story-youtube' id='197UrUNcdKs'
                data-params='?&theme=dark&autoplay=1&autohide=1&modestbranding=1&fs=0&showinfo=0&rel=0&iv_load_policy=3'
                src='{{ 'horse.jpg' | asset_url }}'></div>
            <script src='https://rawgit.com/shaneapen/Async-Youtube-Player/master/async_youtube_player.js'></script>
        </div>
        <div class="custom-our-story-right-section">
            <div style="background: url({{ 'union-left-light.svg' | asset_url }}) center;" class="union-border-left"></div>
            <div style="background: url({{ 'union-top-light.svg' | asset_url }}) center;" class="cool-border"></div>
            <div class="custom-our-story-right-section-text">
                <p class="custom-content-block-title">Jb Dillon Story</p>
                <h2 class="custom-content-block-heading">Handmade in Mexico</h2>
                <div>
                    <a href="/">
                        <button class="custom-btn">Watch Video</button>
                    </a>
                </div>
            </div>
            <div style="background: url({{ 'union-bottom-light.svg' | asset_url }}) center;" class="cool-border"></div>
            <div style="background: url({{ 'union-right-light.svg' | asset_url }}) center;" class="union-border-right"></div>
        </div>
    </div>

    <div class="custom-our-story-touts">
        <div class="custom-our-story-touts-section">
            <div class="custom-one-third text-left">
                <h3 class="h3">Free Shipping</h3>
                <p>This is where you put great copy about the great story of the great boots and how the came
                    into
                    great existence</p>
                <div class="rte-setting">
                    <a href="/">LEARN MORE</a>
                </div>
            </div>

            <div class="custom-one-third middle-one-third text-left">
                <h3 class="h3">Free Returns</h3>
                <p>This is where you put great copy about the great story of the great boots and how the came
                    into
                    great existence</p>
                <div class="rte-setting">
                    <a href="/">LEARN MORE</a>
                </div>
            </div>

            <div class="custom-one-third text-left">
                <h3 class="h3">Free Exchanges</h3>
                <p>This is where you put great copP about the great story of the great boots and how the came
                    into
                    great existence</p>
                <div class="rte-setting">
                    <a href="/">LEARN MORE</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% schema %}
{
"name": "Custom Our Story",
"settings": [
],
"presets": [
{
"name": "Custom Our Story",
"category": "Custom"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}