<div class="about-us">
    <div id="shopify-section-hero-1" class="shopify-section index-section index-section--flush">
        <div data-section-id="hero-1" data-section-type="hero-section">
            <div class="hero hero--large hero-hero-1 hero__overlay box ratio-container js lazyloaded" id="Hero-hero-1"
                data-layout="full_width">
                <div class="placeholder-background custom-placeholder-background"
                    style="background: url('{{ 'about-us-hero.jpg' | asset_url }}');">
                </div>
                <div class="custom-hero-overlay"></div>
                <div class="hero__inner">
                    <div class="page-width text-center">
                        <h2 class="h1 mega-title mega-title--large">Help</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-width">
        <div class="about-us-jump-to-link-container">
            <a href="#our-boots-section" id="returns-policies">
                Returns & Policies
            </a>
            <a href="#our-people-section" id="boot-fit-guide">
                Boot Fit Guide
            </a>
            <a href="#our-story-section" id="product-care">
                Product Care
            </a>
            <a href="#our-story-section" id="faq">
                FAQ'S
            </a>
            <!-- MOBILE -->
            <a href="#our-boots-section" id="returns-policies-mobile">
                Boots
            </a>
            <a href="#our-people-section" id="boot-fit-guide-mobile">
                People
            </a>
            <a href="#our-story-section" id="product-care-mobile">
                Story
            </a>
            <a href="#our-story-section" id="faq-mobile">
                FAQ'S
            </a>
        </div>
    </div>
    <div class="returns-policies-section" id="returns-policies-section">
        <div class="page-width">
            <h2>Returns & Policies</h2>
            <p class="returns-policies-description">
                I'm baby la croix tacos bitters cold-pressed gastropub aesthetic banh mi woke street art tousled
                selvage. Pinterest hexagon cardigan truffaut activated charcoal locavore sriracha hella disrupt portland
                synth. Pitchfork post-ironic gluten-free unicorn. Kogi pork belly tacos tilde 3 wolf moon. Hell of
                iPhone 3 wolf moon ramps hashtag poutine kinfolk sustainable snackwave.
            </p>
        </div>
        <div class="returns-policies-touts">
            <div class="returns-policies-tout">
                <div class="returns-policies-header-container">
                    <img src="{{ 'truck-icon.svg' | asset_url }}" alt="Free shipping">
                    <h3>Free Shipping</h3>
                </div>
                <p>
                    I'm baby la croix tacos bitters cold-pressed gastropub aesthetic banh mi woke street art tousled
                    selvage. Pinterest hexagon cardigan truffaut activated charcoal locavore sriracha hella disrupt
                    portland synth. Pitchfork post-ironic gluten-free unicorn. Kogi pork belly tacos tilde 3 wolf moon.
                    Hell of iPhone 3 wolf moon ramps hashtag poutine kinfolk sustainable snackwave.
                </p>
            </div>
            <div class="returns-policies-tout">
                <div class="returns-policies-header-container">
                    <img src="{{ 'box-icon.svg' | asset_url }}" alt="Free shipping">
                    <h3>Free Returns</h3>
                </div>
                <p>
                    I'm baby la croix tacos bitters cold-pressed gastropub aesthetic banh mi woke street art tousled
                    selvage. Pinterest hexagon cardigan truffaut activated charcoal locavore sriracha hella disrupt
                    portland synth. Pitchfork post-ironic gluten-free unicorn. Kogi pork belly tacos tilde 3 wolf moon.
                    Hell of iPhone 3 wolf moon ramps hashtag poutine kinfolk sustainable snackwave.
                </p>
            </div>
            <div class="returns-policies-tout">
                <div class="returns-policies-header-container">
                    <img src="{{ 'switch-icon.svg' | asset_url }}" alt="Free shipping">
                    <h3>Free Exchanges</h3>
                </div>
                <p>
                    I'm baby la croix tacos bitters cold-pressed gastropub aesthetic banh mi woke street art tousled
                    selvage. Pinterest hexagon cardigan truffaut activated charcoal locavore sriracha hella disrupt
                    portland synth. Pitchfork post-ironic gluten-free unicorn. Kogi pork belly tacos tilde 3 wolf moon.
                    Hell of iPhone 3 wolf moon ramps hashtag poutine kinfolk sustainable snackwave.
                </p>
            </div>
        </div>
        <div class="how-to-exchange-boots-section">
            <h3>How to Return or Exchange Your Boots</h3>
            <div class="description-container">
                <p>
                    I'm baby la croix tacos bitters cold-pressed gastropub aesthetic banh mi woke street art tousled
                    selvage. Pinterest hexagon cardigan truffaut activated charcoal locavore sriracha hella disrupt
                    portland synth. Pitchfork post-ironic gluten-free unicorn. Kogi pork belly tacos tilde 3 wolf moon.
                    Hell of iPhone 3 wolf moon ramps hashtag poutine kinfolk sustainable snackwave.
                </p>
            </div>
            <button class="custom-btn">
                Start your return
            </button>
        </div>
    </div>
    <div id="boot-fit-guide-section" class="text-center">
        <h2 class="about-us-section-title">Boot Fit Guide</h2>
        <div class="description-container">
            <p>
                I'm baby la croix tacos bitters cold-pressed gastropub aesthetic banh mi woke street art tousled
                selvage. Pinterest hexagon cardigan truffaut activated charcoal locavore sriracha hella disrupt portland
                synth. Pitchfork post-ironic gluten-free unicorn. Kogi pork belly tacos tilde 3 wolf moon. Hell of
                iPhone 3 wolf moon ramps hashtag poutine kinfolk sustainable snackwave.
            </p>
        </div>
        <div class="boot-fit-guide-touts-section">
            <div class="tout-container">
                <div class="tout-box"></div>
                <h3>Heading</h3>
                <p>
                    I'm baby la croix tacos bitters cold-pressed gastropub aesthetic banh mi woke street art tousled
                    selvage. Pinterest hexagon cardigan truffaut activated charcoal locavore sriracha hella disrupt
                    portland synth. Pitchfork post-ironic gluten-free unicorn. Kogi pork belly tacos tilde 3 wolf
                    moon. Hell of iPhone 3 wolf moon ramps hashtag poutine kinfolk sustainable snackwave.
                </p>
            </div>
            <div class="tout-container">
                <div class="tout-box"></div>
                <h3>Heading</h3>
                <p>
                    I'm baby la croix tacos bitters cold-pressed gastropub aesthetic banh mi woke street art tousled
                    selvage. Pinterest hexagon cardigan truffaut activated charcoal locavore sriracha hella disrupt
                    portland synth. Pitchfork post-ironic gluten-free unicorn. Kogi pork belly tacos tilde 3 wolf
                    moon. Hell of iPhone 3 wolf moon ramps hashtag poutine kinfolk sustainable snackwave.
                </p>

            </div>
            <div class="tout-container">
                <div class="tout-box"></div>
                <h3>Heading</h3>
                <p>
                    I'm baby la croix tacos bitters cold-pressed gastropub aesthetic banh mi woke street art tousled
                    selvage. Pinterest hexagon cardigan truffaut activated charcoal locavore sriracha hella disrupt
                    portland synth. Pitchfork post-ironic gluten-free unicorn. Kogi pork belly tacos tilde 3 wolf
                    moon. Hell of iPhone 3 wolf moon ramps hashtag poutine kinfolk sustainable snackwave.
                </p>
            </div>
        </div>
        <div class="how-to-exchange-boots-section">
            <h3>Not sure how your shoe size converts?</h3>
            <button class="custom-btn">
                View Size Conversion Chart
            </button>
        </div>
    </div>
    <div id="boot-care-guide-section" class="text-center">
        <h2 class="about-us-section-title">Boot Care Guide</h2>
        <div class="description-container">
            <p>
                I'm baby la croix tacos bitters cold-pressed gastropub aesthetic banh mi woke street art tousled
                selvage. Pinterest hexagon cardigan truffaut activated charcoal locavore sriracha hella disrupt portland
                synth. Pitchfork post-ironic gluten-free unicorn. Kogi pork belly tacos tilde 3 wolf moon. Hell of
                iPhone 3 wolf moon ramps hashtag poutine kinfolk sustainable snackwave.
            </p>
        </div>
        <div class="boot-fit-guide-touts-section">
            <div class="tout-container">
                <div class="tout-box"></div>
                <h3>Heading</h3>
                <p>
                    I'm baby la croix tacos bitters cold-pressed gastropub aesthetic banh mi woke street art tousled
                    selvage. Pinterest hexagon cardigan truffaut activated charcoal locavore sriracha hella disrupt
                    portland synth. Pitchfork post-ironic gluten-free unicorn. Kogi pork belly tacos tilde 3 wolf
                    moon. Hell of iPhone 3 wolf moon ramps hashtag poutine kinfolk sustainable snackwave.
                </p>
            </div>
            <div class="tout-container">
                <div class="tout-box"></div>
                <h3>Heading</h3>
                <p>
                    I'm baby la croix tacos bitters cold-pressed gastropub aesthetic banh mi woke street art tousled
                    selvage. Pinterest hexagon cardigan truffaut activated charcoal locavore sriracha hella disrupt
                    portland synth. Pitchfork post-ironic gluten-free unicorn. Kogi pork belly tacos tilde 3 wolf
                    moon. Hell of iPhone 3 wolf moon ramps hashtag poutine kinfolk sustainable snackwave.
                </p>
            </div>
            <div class="tout-container">
                <div class="tout-box"></div>
                <h3>Heading</h3>
                <p>
                    I'm baby la croix tacos bitters cold-pressed gastropub aesthetic banh mi woke street art tousled
                    selvage. Pinterest hexagon cardigan truffaut activated charcoal locavore sriracha hella disrupt
                    portland synth. Pitchfork post-ironic gluten-free unicorn. Kogi pork belly tacos tilde 3 wolf
                    moon. Hell of iPhone 3 wolf moon ramps hashtag poutine kinfolk sustainable snackwave.
                </p>
            </div>
        </div>
        <div class="faq-section page-width">
            <h2>Frequently Asked Questions</h2>
            <p>
                I'm baby la croix tacos bitters cold-pressed gastropub aesthetic banh mi woke street art tousled
                selvage. Pinterest hexagon cardigan truffaut activated charcoal locavore sriracha hella disrupt portland
                synth. Pitchfork post-ironic gluten-free unicorn. Kogi pork belly tacos tilde 3 wolf moon. Hell of
                iPhone 3 wolf moon ramps hashtag poutine kinfolk sustainable snackwave.
            </p>

            <div class="collapisbles-section">
                <div class="custom-collapsible-block">
                    <button type="button" class="custom-collapsible">
                        This is a question people ask alot
                        <img src="{{ 'plus.svg' | asset_url }}" alt="">
                    </button>
                    <div class="collapsible-content">
                        <p>
                            I'm baby la croix tacos bitters cold-pressed gastropub aesthetic banh mi woke street art
                            tousled selvage. Pinterest hexagon cardigan truffaut activated charcoal locavore sriracha
                            hella disrupt portland synth. Pitchfork post-ironic gluten-free unicorn. Kogi pork belly
                            tacos tilde 3 wolf moon. Hell of iPhone 3 wolf moon ramps hashtag poutine kinfolk
                            sustainable snackwave.
                        </p>
                    </div>
                </div>
                <div class="custom-collapsible-block">
                    <button type="button" class="custom-collapsible">
                        This is a question people ask alot
                        <img src="{{ 'plus.svg' | asset_url }}" alt="">
                    </button>
                    <div class="collapsible-content">
                        <p>
                            I'm baby la croix tacos bitters cold-pressed gastropub aesthetic banh mi woke street art
                            tousled selvage. Pinterest hexagon cardigan truffaut activated charcoal locavore sriracha
                            hella disrupt portland synth. Pitchfork post-ironic gluten-free unicorn. Kogi pork belly
                            tacos tilde 3 wolf moon. Hell of iPhone 3 wolf moon ramps hashtag poutine kinfolk
                            sustainable snackwave.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        document.getElementById("returns-policies").className = "about-us-jump-to-link-active";
        document.getElementById("returns-policies-mobile").className = "about-us-jump-to-link-active";
    }

    window.onclick = function (e) {
        if (e.target.id === "returns-policies" || e.target.id === "boot-fit-guide" || e.target.id === "product-care" || e.target.id === "faq") {
            document.getElementById("returns-policies").className = "";
            document.getElementById("boot-fit-guide").className = "";
            document.getElementById("product-care").className = "";
            document.getElementById("faq").className = "";

            document.getElementById(e.target.id).className = "about-us-jump-to-link-active";
        }
        if (e.target.id === "returns-policies-mobile" || e.target.id === "boot-fit-guide-mobile" || e.target.id === "product-care-mobile" || e.target.id === "faq-mobile") {
            document.getElementById("returns-policies-mobile").className = "";
            document.getElementById("boot-fit-guide-mobile").className = "";
            document.getElementById("product-care-mobile").className = "";
            document.getElementById("faq-mobile").className = "";

            document.getElementById(e.target.id).className = "about-us-jump-to-link-active";
        }
    }

    //COLLAPSIBLE
    var acc = document.getElementsByClassName("custom-collapsible");

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function (e) {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active-collapsible");

            console.log();

            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                e.target.querySelector('img').src = "{{ 'plus.svg' | asset_url }}";
                panel.style.display = "none";
            } else {
                e.target.querySelector('img').src = "{{ 'minus.svg' | asset_url }}";
                panel.style.display = "block";
            }
        });
    }
</script>


{% schema %}
{
"name": "About us page",
"settings": [
{
"id": "our-boots-headline",
"type": "text",
"label": "Our boots headline",
"default": "Headline"
},
{
"id": "our-boots-description",
"type": "richtext",
"label": "Our boots description",
"default": "<p>Our boots description</p>"
},
{
"id": "our-people-headline",
"type": "text",
"label": "Our people headline",
"default": "Headline"
},
{
"id": "our-people-description",
"type": "richtext",
"label": "Our people description",
"default": "<p>Our people description</p>"
},
{
"id": "our-story-headline",
"type": "text",
"label": "Our story headline",
"default": "Headline"
},
{
"id": "our-story-description",
"type": "richtext",
"label": "Our story description",
"default": "<p>Our story description</p>"
}
],
"presets": [
{
"name": "Custom Hero",
"category": "Custom"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}